<h1>New Answer</h1>

<%= form_for [@question, @answer] do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description, minlength: 50 %>

  <%= f.submit %>
<% end %>

<%= link_to "Back to Question", question_path(@question) %>
